{% extends "blog/base.html" %}
{% block content %}
    <h1>About Page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt u, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna alco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur siicia deserunt mollit anim id est laborum.</p>
    <div class="border-top pt-3">
        <small class="text-muted">
            <a href="https://www.facebook.com/mosta.love">
              <span><i class="fab fa-facebook"></i></span></a>

            <a href="https://github.com/MostafaElGamal">
              <span><i class="fab fa-github"></i></span></a>

            <a href="https://www.linkedin.com/in/mostafa-el-gaml-6a4477149/">
              <span><i class="fab fa-linkedin"></i></span></a>
        </small>
    </div>

{% endblock content %}
