// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons');


// index.js or main.js
 @import '~vuetify/dist/vuetify.min.css'; // Ensure you are using css-loader


// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
